@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

.custom-bullet {
  @apply h-[8px] w-[8px] rounded-full bg-[#DBDEE0] transition-all duration-300;
}

.swiper-pagination-bullet-active.custom-bullet {
  @apply rounded-full bg-[#96989A];
}

/* 커스텀 스크롤바 */
.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #e2e6e9;
  border-radius: 12px;
}
